<IfModule mod_rewrite.c>
		DirectoryIndex index.php
    RewriteEngine on

    RewriteCond $1 !^(index\.php|(.*)\.swf|forums|images|css|downloads|js|robots\.txt|favicon\.ico|webdownload|treva|demo|2014)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ ./index.php?$1 [L,QSA] 
</IfModule>

ErrorDocument 403 /oops
